.login-main {
  width: 47vw;
  /* border: 1px solid white; */
  padding: 40px 10px;
  align-self: center;
  justify-self: center;
  background-color: #121212;
  box-sizing: border-box;
  border-radius: 10px;
}
.login-header {
  /* border: 1px solid white; */
  align-content: center;
  justify-items: center;
  /* padding: 20px 10px; */
}
.login-header h2 {
  font-size: 2rem;
  margin-top: 5px;
}
.login-methods {
  width: 100%;
  height: 20%;
  /* border: 1px solid white; */
  justify-items: center;
  margin: 40px 0px;
}
.login-methods button {
  display: block;
  width: 45%;
  padding: 13px 0px;
  margin: 15px 0px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: 1px solid #4b4b4b;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}
.login-methods button div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  gap: 10px;
  /* border: 1px solid white; */
}
button div .button-text {
  width: 100%;
}
#loginPhone {
  padding: 15px 0px;
}
.login-methods button:hover {
  border: 1px solid #ffffff;
}
.login-style {
  height: 1px;
  width: 80%;
  background-color: #4b4b4b;
  justify-self: center;
}
.login-form {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
  padding: 20px 0px;
}
.login-form form {
  width: 45%;
}
.login-form label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
.login-form input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  margin: 10px 0px;
}
.login-error {
  display: flex;
  gap: 10px;
  color: #f76262;
}

.login-form button {
  width: 100%;
  padding: 15px 0px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  background-color: #1ed760;
  color: #000;
  border: none;
  outline: none;
  margin-top: 20px;
}

.login-form button:hover {
  transform: scale(1.01);
  background-color: #3be477;
}
.login-signup {
  justify-self: center;
  font-size: 1rem;
}
.login-signup p {
  color: #b3b3b3;
}
.login-signup a {
  color: #ffffff;
}
.login-signup a:hover {
  color: #1ed760;
}
